/* work sans fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@200;500;700&family=Roboto:wght@500&family=Secular+One&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* shared styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;

}

.text-light-grey {

    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}


/* header related styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    ;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles */
.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* main styles start */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams section start */
.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 75px;
    /* padding-right: 75px; */
}

.teams-title {
    margin-bottom: 24px;
}

.teams-title .quick-list {
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-title .features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-description {
    margin-bottom: 32px;
}

/* features section start here */
.features {
    display: flex;
    margin-top: 130px;
    gap: 120px;
}

.features-content .card {
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-title {
    margin-bottom: 50px;
}

.features-description {
    margin-bottom: 55px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 22px;
}

.card-heading {
    margin-bottom: 10px;
}

.features-img img {
    height: 85%;
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 45px;
    text-align: center;
    position: relative;
    bottom: 100px;

}

.ten-years-badge h2 {
    font-size: 4rem;
}

/* facts card styles start here */
.facts {
    margin: 150px 0px;
}

.facts .facts-title {
    margin-bottom: 24px;
}

.facts .facts-description {
    margin-bottom: 90px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 35px 60px 35px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsors styles start */
.sponsors {
    text-align: center;
}

.sponsors .sponsors-title {
    margin-bottom: 24px;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.sponsors-img-container img {
    width: 165px;
    height: 50px;
}

/* footer styles here */
.footer {
    border-radius: 8px;
    background-color: #FFF4E7;
    margin: 90px 240px 212px 240px;
    padding: 40px 410px;
    text-align: center;

}

.footer-description {
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}

/* responsive styles */

/* mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container,
    .facts-title,
    .facts-description {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container,
    .sponsors-img-container {
        gap: 40px;
    }

    .sponsors-img-container {
        align-items: center;
    }
}

/* tablet devices or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;

    }

    .teams-container {
        flex-direction: column-reverse;
    }
}